@import '../styles/abstract/typography.scss';
@import '../styles/abstract/colors.scss';


.footer {
    font-family:$fontF;
    color: #fafafa;
    

    &__img {
        background-image: url(../assets/desktop/image-footer.jpg);
        background-size: cover;
        background-position: center top;

        position: relative;
        /* isolation: isolate; */
        z-index: -100;
        margin-top: -28px;
    }

    &__img::after {
        position: absolute;
        content:  '';
        inset: 0;
        background-color: $clr-primary;
        mix-blend-mode:darken;
        mix-blend-mode:multiply;
        
        z-index: -10;
    }

    &__title {
        width: min(20.4375rem, 100%);
        margin-inline: auto;
        font-size: 2rem;
        font-weight: $fw-900;
        line-height: 1.12;
        padding-top: 5.75rem;
        padding-bottom: 1.5rem;
    }

    &__paragraph {
        width: min(20.4375rem, 100%);
        margin-inline: auto;
        font-size: 1.125rem;
        font-weight: $fw-500;
        line-height: 1.4;
        padding-bottom: 32px;

        @media (min-width: 40rem) {
            width: min(35.8125rem, 100%);
        }

        @media (min-width: 62.5rem) {
            width: min(21.875rem, 100%);
            padding-bottom: 0;
        }

      

    }

    &__texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 4.5rem;

        @media (min-width: 1000px) {
           
           display: grid;
           grid-template-columns: repeat(3, 1fr);
           place-items: center;
           align-items: baseline;

           /* padding-bottom: 0; */
           
        }

    } 

   

}